<nav>
    <div class="site-title">
        <a class="logo" href="/">Mini Message</a>
         
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/new">New Message</a></li>
     </ul>
</nav>